# Exemplo de configuração
# Copie para terraform.tfvars e preencha com suas credenciais

do_token          = "dop_v1_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
spaces_access_key = "DO00XXXXXXXXXXXXX"
spaces_secret_key = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
bucket_name       = "fishing-map-prod-terraform-state"
spaces_region     = "nyc3"
